################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PvPZonesHud/v17
/.vs
/PvPZonesHud/.vs/PvPZonesHud/v17
/PvPZonesHud/NexusBinaries
/PvPZonesHud/PvPZonesHud/obj
/PvPZonesHud/PvPZonesHud/Properties
/PvPZonesHud/TorchBinaries
/PvPZonesHud/CrunchHudUtils/obj
/PvPZonesHud/CrunchHudUtils/Properties
/PvPZonesHud/.vs/CrunchHudUtils/v17
*.user
